<% @tweets.each do |tweet| %>
              <div class="tweet-container">
                <%= link_to tweet_path(tweet.id), class: 'tweet-link' do %>
                  <div style="display: flex; align-items: center;">
                    <% if tweet.user.profile_image.attached? %>
                      <%= image_tag tweet.user.profile_image.variant(resize: "50x50"), style: "border-radius: 50%; width: 50px; height: 50px;" %>
                    <% else %>
                      <%= image_tag 'bike_noimage.jpg' %>
                    <% end %>
                    <div class="ml-3">
                      <%= link_to tweet.user.username, user_path(tweet.user), class: 'user-link' %>
                    </div>
                  </div>
                  <div class="mt-2 mb-4 ml-5"><%= tweet.content %></div>
                  <div class="ml-3 mb-3">
                    <% if tweet.image.attached? %>
                      <%= image_tag tweet.image.variant(resize_to_fit: [100, 100]), style: "max-width: 100%; max-height: 300px;" %>
                    <% end %>
                  </div>
                  <div style="display: flex; justify-content: flex-start;">
                    <div>
                      <% if tweet.liked_by?(current_user) %>
                        <p>
                          <%= link_to tweet_like_path(tweet), method: :delete do %>
                            <i class="fa-solid fa-heart"></i>
                            <span class="like-count"><%= tweet.likes.count %></span>
                          <% end %>
                        </p>
                        <% else %>
                        <p>
                          <%= link_to tweet_like_path(tweet), method: :post do %>
                            <i class="fa-regular fa-heart"></i>
                            <span class="like-count"><%= tweet.likes.count %></span> 
                          <% end %>
                        </p>
                      <% end %>
                    </div>
                    <div class="mx-3"><span>|</span></div>
                    <div>
                      <%= link_to tweet_path(tweet.id) do %>
                        <i class="fa-regular fa-comment-dots"></i>
                        <span class="comment-count"><%= tweet.comments.count %></span>
                      <% end %>
                    </div>
                    <div style="margin-left: auto;">
                      <% if tweet.user == current_user %>
                          <%= link_to "編集", edit_tweet_path(tweet.id), class: "mr-1" %>
                          <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: "Are you sure?" }, class: "mr-1" %>
                      <% end %>
                      <span class="tweet-date">
                        <%= tweet.created_at.strftime("%Y/%m/%d %H:%M") %>
                      </span>
                    </div>
                  </div>
                <% end %>
              </div>
          <% end %>